body {
  font-size: 16px;
  font-family: sans-serif;
  max-width: 80ex;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  font-weight: normal;
}

div.grid {
  display: inline-block;
  margin-right: 2ex;
}

table.grid {
  display: inline-block;
  font-size: 20px;
  border-collapse: collapse;
}

table.grid td {
  min-width: 2ex;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}

table.grid td:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

input {
  font: inherit;
}
